on:
  push:
    branches: [master]
    paths:
      - "**.py"
      - "pyproject.toml"
      - "uv.lock"
  pull_request:
    types: [opened, synchronize, reopened, edited, labeled, unlabeled]

permissions:
  contents: read

name: pytest

jobs:
  uv-pytest:
    name: python
    # runs-on: ubuntu-latest
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
      - name: Setup Ollama
        uses: ai-action/setup-ollama@v1

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install the project
        run: uv sync --all-groups

      - name: Run tests using pytest
        run: uv run --group test pytest tests/
